{
    "extends": ["react-app", "plugin:prettier/recommended"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "semi": true,
                "useTabs": true,
                "tabWidth": 4,
                "singleQuote": false
            }
        ]
    }
}